<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">MyTodoApp</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      [class.active]="isNavbarOpen"
    >
      <span>
        <i
          class="fas"
          [ngClass]="{ 'fa-bars': !isNavbarOpen, 'fa-times': isNavbarOpen }"
        ></i>
      </span>
    </button>

    <div
      class="collapse navbar-collapse navbar-collapse-show"
      [class.show]="isNavbarOpen"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isUserAuthenticated()" routerLink="/login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="!isUserAuthenticated()"
            routerLink="/register"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="isUserAuthenticated()"
            (click)="handleLogoClick()"
            >Logout</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="isUserAuthenticated()"
            routerLink="/add-todo"
            >Add New Todo</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
