<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-5">Welcome to My App!</h1>
      <p class="text-center">
        This is a fantastic app for managing your resources.
      </p>

      <p class="text-center">
        <a
          routerLink="/login"
          class="btn btn-primary me-3"
          *ngIf="!isUserAuthenticated()"
          >Log In</a
        >
        <a
          routerLink="/register"
          class="btn btn-secondary"
          *ngIf="!isUserAuthenticated()"
          >Register</a
        >
      </p>
    </div>
  </div>
</div>
