<div class="container">
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="isUserAuthenticated()">
        <ul class="list-group" *ngIf="todos && todos.length > 0">
          <li class="list-group-item todo-item" *ngFor="let todo of todos">
            <a [routerLink]="['/todo', todo._id]">
              <h5>{{ todo.title }}</h5>
            </a>
            <p>{{ todo.content | truncate : 5 }}</p>
            <p
              [ngClass]="{
                'text-success': todo.completed,
                'text-danger': !todo.completed
              }"
            >
              {{ todo.completed ? "Completed" : "Not Completed" }}
            </p>
            <button class="btn btn-danger mt-2" (click)="deleteTodo(todo._id)">
              Delete
            </button>
          </li>
        </ul>
        <p
          class="text-center text-primary"
          *ngIf="!todos || todos.length === 0"
        >
          No todos found.
          <a routerLink="/add-todo">Add a new todo</a>
        </p>
      </ng-container>
      <ng-container *ngIf="!isUserAuthenticated()">
        <div class="jumbotron">
          <h1 class="display-4">Welcome!</h1>
          <p class="lead">Please <a href="/login">log in</a> to view your todos.</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
